In [1]:
import pandas as pd

In [2]:
data= {
    'Name':['Alice','Bob','Charlie'],
    'Age':[25,30,35],
    "City":['Delhi','Mumbai',"Pune"]
}

In [3]:
df= pd.DataFrame(data)

In [4]:
print(df)

      Name  Age    City
0    Alice   25   Delhi
1      Bob   30  Mumbai
2  Charlie   35    Pune

In [5]:
import pandas as pd

In [6]:
data= {'Marks':[80,90,75,60,955]}

In [8]:
df= pd.DataFrame(data)