In [1]:
# import pandas library

In [2]:
import pandas as pd

In [3]:
# Creating a pandas Series

In [4]:
# Create a Series from a list

In [5]:
numbers = [10,20,30,40,50]
series1 = pd.Series(numbers)

In [7]:
print("Series from list:")
print(series1)
print()

Series from list:
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [8]:
# Create a Series with custom index

In [9]:
series2 = pd.Series([100,200,300],
index=['a','b','c'])

In [10]:
print("Series with custom index:")
print(series2)
print()

Series with custom index:
a    100
b    200
c    300
dtype: int64

In [11]:
# Accessing elements in a Series

In [12]:
print("Access element'b':",
      series2['b'])
print()

Access element'b': 200

In [13]:
# Perform operations on Series

In [15]:
print("Add 10 to each element:")
print(series2 + 10)
print()

Add 10 to each element:
a    110
b    210
c    310
dtype: int64