In [ ]:
import pandas as pd

In [ ]:
# Create a Dataframe

In [ ]:
data = {'Name':['Amit','Sneha','Ravi','Priya'],
        'Age':[20,28,22,30],
        'City':['Mumbai', 'Pune','Delhi','Banglore']}

In [ ]:
df =pd.DataFrame(data)

In [ ]:
# Display the DataFrame

In [ ]:
print("Original DataFrame:")

Original DataFrame:

In [ ]:
print(df)

    Name  Age      City
0   Amit   20    Mumbai
1  Sneha   28      Pune
2   Ravi   22     Delhi
3  Priya   30  Banglore

In [ ]:
# Filter rows where Age < 25

In [ ]:
print(df[df['Age'] > 25])

    Name  Age      City
1  Sneha   28      Pune
3  Priya   30  Banglore

In [ ]:
# Sort by Age

In [ ]:
print(df.sort_values(by = 'Age'))

    Name  Age      City
0   Amit   20    Mumbai
2   Ravi   22     Delhi
1  Sneha   28      Pune
3  Priya   30  Banglore

In [ ]:
# Display fisrt 5 rows

In [ ]:
print("First 5 rows of the dataset:")

First 5 rows of the dataset:

In [ ]:
print(df.head())

    Name  Age      City
0   Amit   20    Mumbai
1  Sneha   28      Pune
2   Ravi   22     Delhi
3  Priya   30  Banglore

In [ ]:
# Show basic info about columns

In [ ]:
print("Dataset Info:")

Dataset Info:

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   City    4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes
None

In [ ]:
# Show basic statistics (mean, min, max )

In [ ]:
filtered_df = df[df['Age'] > 25]

In [ ]:
print("Filtererd rows where Age > 25:")

Filtererd rows where Age > 25:

In [ ]:
# Sort data by age in desending order

In [ ]:
sorted_df = df.sort_values(by = 'Age',ascending =False)

In [ ]:
print("Sorted by Age(Descending):")

Sorted by Age(Descending):

In [ ]:
print(sorted_df)

    Name  Age      City
3  Priya   30  Banglore
1  Sneha   28      Pune
2   Ravi   22     Delhi
0   Amit   20    Mumbai

In [ ]:
# Save filtered data to new CSV

In [ ]:
filtered_df.to_csv('filtered_data.csv',index=False)

In [ ]:
print("Filtered data saved as 'filtered_data.csv'")

Filtered data saved as 'filtered_data.csv'